emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/elpa/*-readme.txt
emacs.d/semanticdb
emacs.d/.python-environments
emacs.d/request
emacs.d/eshell
emacs.d/session.*
emacs.d/tutorial
emacs.d/url
emacs.d/tramp
emacs.d/ido.last
